body{
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    flex-shrink: 0;
}

.header-right{
    display: flex;
}

.hero-container{
    display: flex;
    justify-content: space-around;
    height: 100px;

}

.header-and-hero{
    height: 200px;
    background-color: #1F2937;
}