body{
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    flex-shrink: 0;
    padding-top: 1.5rem;
}

.header-right{
    display: flex;
    gap: 1.5rem;
}

.header-right,
#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.header-right a {
    color: #E5E7EB;
    text-decoration: none;
}

.header-left{
    font-size: 24px;
    color: #f9faf8;
}

.hero-container{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 300px;
    align-items: center;
    gap: 6rem;
    padding: 3rem;
}



.header-and-hero{

    background-color: #1F2937;
}

.hero-left{
    max-width: 400px;
}

.hero-left > * {
    margin-bottom: 20px;
}

#hero-main-text{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

#hanging-sloth{
    width: 500px;
    height: 300px;
}


.cute-sloth{
    width: 200px;
    height: auto;
    border-radius: 10%;
    border: 2px solid #3882F6;
}

.random-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    margin: 40px;
}

.random-information-title{
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-with-text-container > p{
    width: 200px;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-direction: column;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.quote,
.quote-owner{
    font-size: 30px;
    font-weight: 300;
    color: #1F2937;
}

.quote{
    font-style: italic;
    padding-left: 25%;
    padding-right: 25%;    
}

.quote-owner{

}

.test{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.sign-up-container{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border-radius: 20px;
}

.sign-up-text{
    justify-self:flex-start;
    text-align: left;
    color: #E5E7EB;
}

#call-to-action{
    font-size: 25px;
    font-weight: bolder;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 40px;
    background-color: #1F2937;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    color: white;
}

#sign-up-first,
#sign-up-second{
    background-color: #3882F6;
    font-weight: bolder;
    border-radius: 25px;
    height: 2rem;
    width: 7rem;
    color: white;
    border-style: none;
    outline-style: none;
    margin: 0;
}

#sign-up-second{
color: white;
border: 1px white solid;
}