#logo{
    width: 50px;
    height: fit-content;
    align-self: flex-start;
}

#placeholder{
    width: 70%;
}


.first-part{
    display: flex;
    justify-content: space-around;
}

.first-part-links > a{
    padding: 10px;
}

.second-part{
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.second-part-left{
display: flex;
flex-direction: column;
width: 300px;
}

.second-part-left {
    padding-right: 5rem;
}

.second-part-right{
    padding-left: 5rem;
}

.second-part-left > button{
    width: 5rem;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-with-text-container{
    display: flex;
}

.img-small{
    border: 1px solid black;
    border-radius: 10%;
}

.images-with-text{
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 10px;
}

.third-section{
    display: flex;;
    flex-direction: column;
    align-items: center;

}

#quote{
    width: 50%;
}

#quote-owner{
width: 50%;
text-align: right;
}

.fourth-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10rem;
    margin-left: 10rem;
    padding: 2.5rem;
    background-color: aqua;

}

.fourth-section-left-part{
    display: flex;
    flex-direction: column;
}

.fourth-section-left-part h4{
    margin: 0;
}

.fourth-section-left-part p{
    margin: 0;
}

footer{
    text-align: center;
    background-color: gray;
}