body{
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    flex-shrink: 0;
}

.header-right{
    display: flex;
}

.hero-container{
    display: flex;
    justify-content: space-around;
    height: 100px;

}

.header-and-hero{
    height: 300px;
    background-color: #1F2937;
}

#hanging-sloth{
    width: 300px;
    height: auto;
}


.cute-sloth{
    width: 200px;
    height: auto;
}

.random-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

.random-information-title{
    flex: 0 0 100%;
    text-align: center;
}

.image-with-text-container > p{
    width: 200px;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote{
    width: 300px;
}

.quote-owner{
    width: 300px;
}

.test{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

/* .sign-up-container{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    flex: 0 0 50%;
} */

.sign-up-container{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
}

.sign-up-text{
    justify-self:flex-start;
    text-align: left;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}