body{
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    flex-shrink: 0;
    padding-top: 1.5rem;
}

.header-right{
    display: flex;
    gap: 1.5rem;
}

.header-right,
#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.header-right a {
    color: white;
    text-decoration: none;
}

.header-left{
    font-size: 24px;
    color: #f9faf8;
}

.hero-container{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 300px;
    align-items: center;
    gap: 6rem;
    padding: 3rem;
}

.hero-container > button{
    background-color: blue;
}

.header-and-hero{

    background-color: #1F2937;
}

.hero-left{
    max-width: 400px;
}

.hero-left > * {
    padding-bottom: 10px;
}

#hero-main-text{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

#hanging-sloth{
    width: 500px;
    height: 300px;
}


.cute-sloth{
    width: 200px;
    height: auto;
}

.random-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

.random-information-title{
    flex: 0 0 100%;
    text-align: center;
}

.image-with-text-container > p{
    width: 200px;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote{
    width: 300px;
}

.quote-owner{
    width: 300px;
}

.test{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.sign-up-container{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
}

.sign-up-text{
    justify-self:flex-start;
    text-align: left;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 40px;
    background-color: #1F2937;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}